@media screen and (max-width: 1200px) {

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .footeragic {
        display: flex;
    }

   .menu-links .hovera{
    background-color: #333;
   }

}



@media screen and (max-width: 600px) {

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .hero {
        text-align: left;
        padding: 40px 15px;
    }

    .hero h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .cta-button {
        font-size: 12px;
    }

    .services {
        padding: 60px 0px;
    }

    .service-item {
        min-width: 350px;
    }

    .service-item ul li {
        font-size: 15px;
    }

    /* .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    } */
    .contact a:hover {
        text-decoration: none;
    }

    .footeragic {
        display: block;
    }

    .footeragic p {
        padding-right: 0px;
    }

    footer .container p {
        font-size: 12px;
        padding-left: 0px;
    }
}