/* Global Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    /* font-family: 'Arial', sans-serif; */
    font-family: "Poppins", sans-serif;
    /* background-color: #f7f7f7; */
    line-height: 1.6;
    position: relative;
    /* margin-top: 50px; */
}

html {
    scroll-behavior: smooth;
}

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    position: sticky; /* Keeps navbar at the top */
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: top 0.3s ease-in-out; /* Smooth hiding effect */
    z-index: 1000;
}
nav .logo{
    color: #ffffff;
    margin: 16px;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Pacifico', cursive;

}
.navlinks{
}
.navlinks ul {
    display: flex;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 24px 16px;
    display: block;
}
.navlinks ul li a:hover{
    background-color: #333;
    color: #fff;
}
.handbracker{
    position: absolute;
    top: 24px;
    right: 30px;
    height: 24px;
    width: 30px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar{
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}
/* nav,
.nav-links {
    display: flex;
}

nav {
    position: sticky;
    top: 0;
    justify-content: space-around;
    z-index: 234;
    align-items: center;
    height: 65px;
    background-color: #111;
    transition: top 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.magic {
    color: #ffffff;
    text-decoration: none;
    text-decoration-color: white;
}

.magic:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

/* #handbracker-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    margin-top: 30px;
    max-height: 300px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}  */

/* Hero Section */
.hero {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #fff;
    color: #333;
    padding: 15px 40px;
    font-size: 1.2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 25px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

/* Services Section */
.services {
    text-align: center;
    padding: 60px 0px;
    background-color: #F9F6EE;
}

.services h2 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 40px;
    font-weight: bold;
}

/* Service Box */
.service-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
    text-align: justify;
    width: 100%;

}

/* Service Item */
.service-item {
    /* background-color: #f7f7f7; */
    padding: 15px;
    width: 100%;
    /* min-width: 100%; */
    min-width: 340px;
    text-align: left;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.service-item h3 {
    font-size: 1.8rem;
    color: #8EC5FC;
    margin-bottom: 10px;
    white-space: nowrap;
    /* Prevent title from breaking into a new line */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis when text overflows */
}

.service-item ul {
    list-style: none;
    padding-left: 20px;
    /* Add padding to bullets */
}

.service-item ul li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
}

.service-item ul li::before {
    content: '•';
    color: #8EC5FC;
    margin-right: 10px;
    /* Add space between bullet and text */
}

/* Contact Section */
.contact {
    background-color: #222;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.contact a {
    color: #8EC5FC;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}

.footeragic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.footeragic p {
    padding-right: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Mobile View */
@media (max-width: 1024px) {
    .service-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .cta-button {
        padding: 12px 30px;
    }

    .services h2 {
        font-size: 2.2rem;
    }

    .service-box {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .service-item {
        width: 80%;
        margin: 0 auto;
    }

    .service-item h3 {
        font-size: 1.6rem;
        /* Adjust title size for mobile */
    }
}

@media (max-width: 480px) {
    .service-item h3 {
        font-size: 1.4rem;
        /* Further reduce title font size on very small screens */
    }
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
}